<div>
    <h1>Minha História</h1>    
    <p>
        15 anos de experiência com Excel avançado e suas extensões (Power Query, Pivot, View)
        5 anos em modelagem de dados ETL e Power B.I. 
        Com analise de dados, sou especializado em coletar, processar e analisar grandes conjuntos de dados para obter insights valiosos e orientar nas decisões de negócios. Possuo habilidades avançadas em ferramentas de análise de dados, como Excel, Power B.I, Python, SQL e Tableau.
        Tenho experiência em desenvolver e implementar modelos de previsão e de análise preditiva, além de ser capaz de identificar tendências e padrões em grandes conjuntos de dados. Além da capacidade de comunicar resultados complexos de maneira clara e eficaz para diferentes públicos, incluindo gerentes de negócios e equipe técnica.
        Tenho forte habilidade analítica e capacidade de resolver problemas complexos, com foco em resultados de negócios. Sou altamente organizado e capaz de gerenciar múltiplas tarefas em um ambiente de ritmo acelerado. Sou motivado, colaborativo e estou sempre buscando maneiras de melhorar processos e maximizar eficiências.
        Em complemento as ferramentas de análises de dados, possuo
        amplo conhecimento em processos (5S's, Lean Manufacturing, Kanban)
        Focado em automatizar processos principalmente administrativos 
        e organização de ambientes para que trabalho seja efetuado da forma mais inteligente e eficaz.
        Pós-graduado em Gestão da Engenharia e Indústria 4.0 (PURPR)
        Graduado em Engenharia de Produção (Furb Blumenau)
        Especializações: Desenvolvimento de Software (Cedup Blumenau)
        #PowerBI #BigData #ELT #excel #dataanalytics    
    </p>    
</div>